.quien_soy__foto{
    width: 368px;
    height: 368px;
    border-radius: 100%;
}
@media screen and (max-width: 768px) {
    .quien_soy__foto{
        width: 146px;
        height: 146px;
    }
}
@media screen and (max-width: 415px) {
    .quien_soy__foto{
        width: 98px;
        height: 98px;
    }
}